*{
    padding: 0;
    margin: 0;
}

.full-page{
    display: flex;
    flex-direction: column;
    width: 100hw;
    height: 100vh;
    margin:0px 5%;
}

#header-section{
    flex: 1;
    display: flex;
    align-items: center;
    padding: 10px 10px;
}

.log{
    flex:2;
}

.menu{
    flex:4;
    display: flex;
    
}

.menu-item{
    display: flex;
    flex-direction: row;
    flex:1;
}

.search-more{
    flex: 1;
}

.menu-item a{
    text-decoration: none;
    font-size: 1.5rem;
    margin: 0 auto;
    color: black;
}

.menu-item a:hover{
    color: red;
}
.search-more{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
}

.search-box{
    flex:7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid gray;
    border-radius: 20px;
}

.search-box input{
    width: 100%;
    border: none;
    outline: none;
    padding: 5px;
}

#search{
    font-size: 25px;
}

.more-item{
    flex:2;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
}
.more-item .item{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: gray;
    margin: auto 0px;
}

#main-section{
    flex:11;
    background-image: url('background1.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    padding-top: 13% ;
    padding-left: 10%;
    padding-right: 2%;
}

.left{
    flex:1;
    padding-right: 10%;
}

.left h3{
    color: aqua;
    font-size: 1.5rem;
}

.left h1{
    font-size: 2.5rem;
}

.left p{
    margin: 30px 0px;
    font-size: 25px;
}

.left button{
    min-width: 200px;
    border-radius: 30px;
    color: wheat;
    border: 1px solid white;
    background-color: rgba(255,255,255,0);
    padding: 15px 10px;
    margin-bottom: 30px;
    cursor: pointer;
}

.icon-container{
    margin-top: 100px;
    display: flex;

}

.icon{
    width: 70px;
    height: 70px;
    background: white;
    border-radius: 50%;
    z-index: 1;
    position:relative;
    margin: 10px;
}

.icon i{
    font-size: 2.5rem;
    color: white;
    margin-right: 30px;
    z-index: 2;
    position: absolute;
    top: 20%;
    left: 20%;
}

#accusoft{
    color: green;
}

#light{
    color: yellow;
}

#gray{
    color:gray
}

#archar{
    color:crimson;
}

.right{
    flex:2;
    padding-left: 2%;
    position: relative;
}

.desc{
    width: 30%;
    top: 0;
}

.desc h4{
    font-size: 1.5rem;
}

.social-meadia-container{
    position: absolute;
    right:0;
    bottom: 10%;
}

.media-item{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    z-index: 1;
}

.media-item i{
    font-size: 1.5rem;
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 10px;
}

.fa{
    color: green;
}

.tw{
    color: gray;
}
